<% if flash[:message] %>
  <p style="color:green;"> <%= flash[:message] %> </p>
<% end %>

<h4> Main Feed </h4>

<%= content_tag :div, class: "list-group" do %>
  <%= render partial: 'welcome/transaction_details', collection: @transactions, as: :transaction%>
<% end %>



<%#= link_to "text", transaction_path(transaction) %>
