<div class="container" id="feed">
  <center>
    <h4> Main Feed </h4>
      <% if flash[:message] %>
        <p style="color:green;"> <%= flash[:message] %> </p>
      <% end %>

      <% if @dealings.empty? %>
        <p><b>Once you and/or your contacts complete dealings <br>
        they will show up here</b></p>
      <% end %>
  </center>



  <%= content_tag :div, class: "list-group" do %>
    <%= render partial: 'welcome/dealing_details', collection: @dealings, as: :dealing%>
  <% end %>

</div>
