<% if flash[:message] %>
  <p style="color:green;"> <%= flash[:message] %> </p>
<% end %>


<center>
<h4> Main Feed </h4>

<% if @transactions.empty? %>
  <p><b>Once you and/or your contacts complete transactions <br>
    they will show up here</b></p>
<% end %>
</center>

<%= content_tag :div, class: "list-group" do %>
  <%= render partial: 'welcome/transaction_details', collection: @transactions, as: :transaction%>
<% end %>



<%#= link_to "text", transaction_path(transaction) %>
