{{dealing}}
<div class="list-group-item">
  <form class="new_comment" id="new_comment" action="/comments" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="G+w0oC6RcTsaAjhvlQIC2MvT4DRch2yKWUaWfg3qHo5mbdZI2729lPjJCOYZWhxZxHswz/aT2gN7ZwUwhdYzSQ==">
    <input type="hidden" value="{{id}}" name="comment[dealing_id]" id="comment_dealing_id">
    <input placeholder="Comment" type="text" name="comment[content]" id="comment_content">
    <input type="submit" name="commit" value="Send" class="btn btn-sm btn-primary" data-disable-with="Send" disabled="">
  </form>
</div>
{{dealing}}
