{{#transaction}}
  <div class="list-group-item" id={{id}}>
    <b><a href="/users/{{sender.id}}">{{sender.name}}</a>
    </b> {{charged_or_paid}} <b>
    <a href="/users/{{recipient.id}}">{{recipient.name}}</a></b>
    <br>
    <small style="color: #a8a8a8">{{exact_date}}</small>
    <br>
    {{description}}
    <br>
    <small style="color: #a8a8a8">
      {{#each tags}}
        <a href="/tags/{{this.id}}">{{this.name}}</a>
      {{/each}}
    </small>
  </div>

  <div id={{id}} class="list-group-item comment">
    <a href="#" data-id={{id}} class="hide-comments" style="color: #a8a8a8">Hide</a>
    &emsp;
    <a href="/dealings/{{id}}" style="color: #a8a8a8">Comment</a>
  </div>

  {{#each comments}}
    <div id={{../id}} class="list-group-item comment">
      <font size="-1.2"><a href="/users/{{user_id}}">{{commenter}}</a> {{content}}</font>
      <br>
      <small style="color:#a8a8a8">
        {{exact_date}}
      </small>
    </div>
  {{/each}}
{{/transaction}}
