{{#comment}}
<div class="list-group-item">
  <font size="-1.2"><a href="/users/{{user_id}}">{{user.name}}</a>: {{content}} </font>
  <br>
  <small style="color:#a8a8a8">{{exact_date}}</small>
</div>
{{/comment}}
