{{#transactions}}
<div class="list-group-item" id={{id}}>
  <div class="froggy">
    <div class="sender-pic">
      <a href="/users/{{sender.id}}/dealings"><img src={{sender.avatar_url}} width="60" height="60" style="border-radius:50%"></a>
    </div>
    <br />
    <div class="info">
      <div class="name-and-time">
        <div class="names">
          <b><a href="/users/{{sender.id}}/dealings">{{sender.name}}</a> </b>
          {{charged_or_paid}}
          <b><a href="/users/{{recipient.id}}/dealings">{{recipient.name}}</a></b>
        </div>

        <div class="date">
          {{concise_date}} <span class="glyphicon glyphicon-globe"></span>
        </div>
      </div>

      <div class="description">
        <a class="dealing-desc" href="/dealings/{{id}}">{{description}}</a>
      </div>

      <div id={{id}} class="likes">
        {{likes_list}}
      </div>

      <div class="like-comment-cost">
        <div class="like-comment">
          <a class={{like_or_unlike_button}} id={{id}} href="#">{{like_or_unlike}}</a>
          &emsp;
          <a href="/dealings/{{id}}">Comment</a>
        </div>

        <div style="color: {{green_or_red}}">
          <b>{{show_amount}}</b>
        </div>
      </div>
    </div>
  </div>
</div>

{{/transactions}}
