{{#transactions}}
<div class="list-group-item">

  <p><b><a href="/users/{{sender.id}}/dealings">{{sender.name}}</a>
  </b>{{charged_or_paid}}<b>

    <a href="/users/{{recipient.id}}/dealings">{{recipient.name}}</a></b></p>

  <div style="position: absolute; top: 10px; right: 15px; width: 90px; text-align:right;">
    {{concise_date}} <span class="glyphicon glyphicon-globe"></span>
</div>
  <b><div style="color: {{green_or_red}}; position: absolute; bottom: 48px; right: 15px; width: 150px; text-align:right;">{{show_amount}}</div></b>

  <p> {{description}}</p>

  <a href="/dealings/{{id}}" type="button" class="btn btn-sm btn-default btn-block">View Details</a>


</div>

{{/transactions}}
