/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container, #feed, #request, #incomplete {
   max-width: 400px;
 }

/* i.e. George Costanza requests $5.23 */
#incomplete> div > div > b {
  color: gray;
}

/* i.e. Requests box style*/
#incomplete > div > div {
  color: gray;
  border-style: dashed;
}

/*request and pay "radio" button colors */
  #new_dealing > div > div > label {
    background-color: rgb(237,237,237);
    border-color: rgb(203,203,203);
    color: black;
  }

  #new_dealing > div > div > label.active {
    background-color: rgb(061,149,206);
    border-color: black;
    color: white;
  }

  #new_dealing > div.action > input {
    background-color: rgb(061,149,206);
    border-color: rgb(203,203,203);
  }

  #new_dealing > div.action > input.hover {
    background-color: blue;
    border-color: blue;
  }

#dealing_amount {
  /*padding-bottom: 2px;*/
}
.page-header h2 {
   margin-top: 0;
   text-align: center;
   padding-top: 10px;
   color: gray;
   font-family: 'Anton', sans-serif;
 }

/*navbar logo*/
 body > nav > div > div.navbar-header > a {
   font-family: 'Anton', sans-serif;
   font-style:italic
 }

 #feed > center > h5 > a.hover {

 }

#main, .center {
  width: 100%;
}

.container, #test2 {
  max-width: 300px;
}

 .list-group {
   max-width: 400px;
 }

 .page-header, #login {
   background-color: rgb(061,149,206);
   margin-top: 0
 }

 body > nav.navbar.navbar-default {
   background-color: rgb(061,149,206);
 }

/*notification badge color scheme*/
 #bs-example-navbar-collapse-1 > ul > li > a > span {
   background-color: red;
   color: white;
   text-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
 }

 #bs-example-navbar-collapse-1 > ul > li > a {
   color: white;
 }

 #bs-example-navbar-collapse-1 > ul > li.active > a {
   color: rgb(061,149,206);
   background-color: white;
 }

 #bs-example-navbar-collapse-1 > ul > li.active {
   background-color: white;
 }

/*pay or request button for other users*/
 #feed > center > a {
   background-color: rgb(061,149,206);
   border-color: rgb(061,149,206);
   width: 200px;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
 }

 body > nav > div > div.navbar-header > a.navbar-brand.active {
   color: white;
 }

/*View Dealing button/link*/
 #feed > div > div > a {
   /*background-color: rgb(061,149,206);
   border-color: rgb(061,149,206);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);*/
 }

 #feed > div > div > button {
   background-color: rgb(061,149,206);
   border-color: rgb(061,149,206);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
 }

/*.btn {
  background-color: rgb(061,149,206);
  border-color: rgb(061,149,206);
}*/

#feed > center > h5 > a {
  border-color: gray;
  color: gray;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#new_user > div.actions > input {
  background-color: rgb(061,149,206);
  border-color: rgb(061,149,206);
}

body > nav > div > div.navbar-header > button > span {
  color: white;
}

 .form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
   margin-bottom: 10px;
 }
 .form-signin .checkbox {
   font-weight: normal;
 }
 .form-signin .form-control {
   position: relative;
   height: auto;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   padding: 10px;
   font-size: 16px;
 }
 .form-signin .form-control:focus {
   z-index: 2;
 }
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
