/* transaction show page css here */
.detailed-transaction {
  display: flex;
}

.show-likes > a {
  font-size: 13px;
}
.style_main_pic {
  border-radius: 50%
  /* border: none; */
}

.dealing-desc {
  text-decoration: none;
  color: black;
}

#update-pic {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 500px;
  width: 500px;
}

/* #feed > center > a */

/* pay or request button fix later has super precedence for some reason */
#feed > center > .ask {
  background-color: rgb(061,149,206);
  border-color: rgb(061,149,206);
  width: 200px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#feed > center > .ask:hover {
  background-color: rgb(52,109,241);
  border-color: rgb(52,109,241);
}

/* #profile-link {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0
} */

/* like and comment links */
.list-group {
  min-width: 450px;
}

/* transaction show div */
#show > div {
  /* max-width: 300px; */
  min-width: 450px;
}

.like-comment > a {
  font-weight: bold;
  color: gray;
  text-decoration: none;
}

/* names listed when liking a transaction */
.likes > a {
  color: gray;
  font-size: 12px;
}

/* heart sign */
.likes > span {
  font-size: 12px;
}

.froggy {
  display: flex;
  /* justify-content: space-between; */
}

.sender-pic {
  padding-right: 10px;
  padding-top: 5px;
}

.participants-pic {
  display: flex;
  padding-right: 10px;
  padding-top: 5px;
}

.sending-person {
	position: relative;
	top: 0;
	left: 0;
}

/* small circle on top of sending person */
.receiving-person {
	position: absolute;
	top: 40px;
	left: 50px;
}

.dealing-show-desc {
  padding-left: 20px;
}

.show-heart {
  cursor: pointer;
  padding-top: 1px;
}

.unlike-heart {
  cursor: pointer;
  padding-top: 1px;
}


.info {
  min-width: 350px;
}

.name-and-time {
  display: flex;
  justify-content: space-between;
}

.date {
  color: gray;
}

.description {
  padding-top: 0.5em;
}

.likes {
  padding-top: 0.5em;
  color: gray;
}

.like-comment-cost {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.comment-frog {
  display: flex
}

.comment-pic {
  padding-top: 4px;
}

.comment-info {
  padding-left: 10px;
}

/* #\31 5 > div.like-comment > a:nth-child(1) */


/*new comment send button */
#new_comment > input.btn.btn-sm.btn-primary {
  border-color: gray;
  background-color: white;
  color: gray;
}

/* comment post form box width */
#comment_content {
  min-width: 325px;
}

#error_explanation > ul {
  list-style-type: none;
}

 .container, #feed, #request, #incomplete, #show, #hashtags {
   max-width: 450px;
 }

/*remove bullets on errors.*/
#new > center > li {
  list-style-type: none;
}

#trying {
   max-width: 150px;
 }

/* i.e. George Costanza requests $5.23 */
#incomplete> div > div > b {
  color: gray;
}

/* i.e. Requests box style*/
#incomplete > div > div {
  color: gray;
  border-style: dashed;
}

/*decline request button*/
.edit_dealing > input.btn.btn-sm.btn-default {
  width: 169px;
}

.edit_dealing > input.btn.btn-sm.btn-default.btn-block {
  width: 338px;
}

/*pay button in requests tab */
.edit_dealing > input.btn.btn-sm.btn-primary {
  width: 169px;
  position: absolute; bottom: 10px; left: 187px;
}

/*request and pay "radio" button colors */
  #new_dealing > div > div > label {
    background-color: rgb(237,237,237);
    border-color: rgb(203,203,203);
    color: black;
  }

  #new_dealing > div > div > label:hover {
    background-color: rgb(170,170,170);
    border-color: rgb(170,170,170);
    color: black;
  }

  #new_dealing > div > div > label.active {
    background-color: rgb(061,149,206);
    border-color: rgb(061,149,206);
    color: white;
  }


/* submit button on pay/request */
  #new_dealing > div.action > input {
    background-color: rgb(237,237,237);
    border-color: rgb(203,203,203);
    color: black;
  }

  #new_dealing > div.action > input:hover {
    background-color: rgb(061,149,206);
    border-color: rgb(061,149,206);
    color: white;
  }

  /* add to fund button on pay or request page  */
   #new > center > h5 > a {
     border-color: gray;
     background-color: white;
     color: gray;
   }

   #new > center > h5 > a:hover {
     border-color: white;
     background-color: gray;
     color: white;
   }

   /* add to fund button on main page */
  #feed > center > h5 > a:hover {
    border-color: white;
    background-color: gray;
    color: white;
  }

.page-header h2 {
   margin-top: 0;
   text-align: center;
   padding-top: 10px;
   color: gray;
   font-family: 'Anton', sans-serif;
 }

/*navbar logo*/
 body > nav > div > div.navbar-header > a {
   font-family: 'Anton', sans-serif;
   font-style:italic
 }

#main, .center {
  width: 100%;
}

.container, #new {
  max-width: 350px;
}



 /* all panels  */
  div > .list-group-item {

  }

/* when users click view details  */
 div > .list-group-item.selected {
   background-color: #f9f9f9;
 }


 .page-header, #login {
   background-color: rgb(061,149,206);
   margin-top: 0
 }

 body > nav.navbar.navbar-default {
   background-color: rgb(061,149,206);
 }

/*notification badge color scheme*/
 #bs-example-navbar-collapse-1 > ul > li > a > span {
   background-color: red;
   color: white;
   text-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
 }

 #bs-example-navbar-collapse-1 > ul > li > a {
   color: white;
 }

 #bs-example-navbar-collapse-1 > ul > li.active > a {
   color: rgb(061,149,206);
   background-color: white;
 }

 #bs-example-navbar-collapse-1 > ul > li.active {
   background-color: white;
 }

/*pay or request button for other users*/


 body > nav > div > div.navbar-header > a.navbar-brand.active {
   color: white;
 }

 #feed > div > div > button {
   background-color: rgb(061,149,206);
   border-color: rgb(061,149,206);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
 }

#feed > center > h5 > a {
  border-color: gray;
  color: gray;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#new_user > div.actions > input {
  background-color: rgb(061,149,206);
  border-color: rgb(061,149,206);
}

/* login page form width */
#new_user {
  max-width: 270px;
}
body > nav > div > div.navbar-header > button > span {
  color: white;
}


 .form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
   margin-bottom: 10px;
 }
 .form-signin .checkbox {
   font-weight: normal;
 }
 .form-signin .form-control {
   position: relative;
   height: auto;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   padding: 10px;
   font-size: 16px;
 }
 .form-signin .form-control:focus {
   z-index: 2;
 }
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }


 #feed > center > div {
   padding-bottom: 10px;
 }
