<h5>In the incomplete section</h5>

<div class="list-group">
  <%@transactions.each do |transaction|%>
  <a href="/transactions/<%= transaction.id %>" class="list-group-item">
    <p><b> Request to <%= transaction.recipient_name %></b></p>
    <div style="position: absolute; top: 5px; right: 10px; width: 90px; text-align:right;">
      <%= transaction.concise_date %> <span class="glyphicon glyphicon-globe"></span>
    </div>
    <p> <%= transaction.description %></p>
  </a>
  <%end%>
</div> <!--list-group -->
