<nav class="">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <p>My header is working son!</p>
  <li><%= link_to("Sign out", destroy_user_session_path, :method => "delete") %></li>
</nav>
